@page "/create-therapy-template"
@inject TherapyTemplateRepository repository
@inject NavigationManager navigationManager

<PageTitle>Aggiungi Terapia Precompilata</PageTitle>
<h1>Aggiungi Terapia Precompilata</h1>
<hr class="my-4">

<EditForm Model="@model" OnValidSubmit="@SaveTask" class="needs-validation" novalidate>
    <DataAnnotationsValidator />
    <div class="row g-3">
        <div class="col-12">
            <label for="Title" class="form-label">Titolo</label>
            <InputText id="Title" @bind-Value="model.Title" class="form-control" autocomplete="off" />
            <ValidationMessage For="@(() => model.Title)" />
        </div>
    </div>
    <div class="row g-3">
        <div class="col-12">
            <label for="Description">Descrizione</label>
            <InputTextArea id="Description" @bind-Value="model.Description" class="form-control" />
            <ValidationMessage For="@(() => model.Description)" />
        </div>
    </div>
    <hr class="my-4">
    <button type="submit" class="w-100 btn btn-primary btn-lg">Salva</button>
</EditForm>

@code {
    private TherapyTemplate model = new();

    private async Task SaveTask()
    {
        await repository.AddAsync(model);
        navigationManager.NavigateTo("/therapy-templates");
    }
}