@page "/therapy-templates/delete/{id:int}"
@inject TherapyTemplateRepository repository
@inject NavigationManager navigationManager

<PageTitle>Rimuovi Terapia Precompilata</PageTitle>
<h1>Rimuovi Terapia Precompilata</h1>
<hr class="my-4">

<p>Vuoi rimuovere questa terapia precompilata?</p>

<button class="btn btn-danger" @onclick="@SaveAsync">Rimuovi</button>
<a class="btn btn-secondary" href="/therapy-templates">Cancella</a>

@code {
    [Parameter]
    public int Id { get; set; }

    private TherapyTemplate model;

    protected override async Task OnParametersSetAsync()
    {
        model = await repository.GetByIdAsync(Id);
    }

    private async Task SaveAsync()
    {
        await repository.DeleteAsync(model);
        navigationManager.NavigateTo("/therapy-templates");
    }
}