<!-- Pages/therapy-templates/Delete.razor -->
@page "/therapy-templates/delete/{id:int}"
@using DottoressaIorio.App.Models
@using DottoressaIorio.App.Data
@inject ApplicationDbContext dbContext
@inject NavigationManager navigationManager

<PageTitle>Rimuovi Terapia Precompilata</PageTitle>
<h1>Rimuovi Terapia Precompilata</h1>
<hr class="my-4">

<p>Vuoi rimuovere questa terapia precompilata?</p>

<button class="btn btn-danger" @onclick="DeleteTemplate">Rimuovi</button>
<a class="btn btn-secondary" href="/therapy-templates">Cancella</a>

@code {
    [Parameter]
    public int Id { get; set; }

    private TherapyTemplate model;

    protected override void OnInitialized()
    {
        model = dbContext.TherapyTemplates.Find(Id);
    }

    private async Task DeleteTemplate()
    {
        model.EditDate = DateTime.Now;
        model.Deleted = true;
        dbContext.TherapyTemplates.Update(model);
        await dbContext.SaveChangesAsync();
        navigationManager.NavigateTo("/therapy-templates");
    }
}