<!-- Pages/Patients/DeletePatient.razor -->
@page "/patients/delete/{id:int}"
@using DottoressaIorio.App.Models
@using DottoressaIorio.App.Data
@inject ApplicationDbContext dbContext
@inject NavigationManager navigationManager

<PageTitle>Rimuovi Paziente</PageTitle>
<h1>Rimuovi Paziente</h1>

<p>Vuoi rimuovere questo paziente?</p>

<button class="btn btn-danger" @onclick="DeletePatient">Rimuovi</button>
<a class="btn btn-secondary" href="/patients">Cancella</a>

@code {
    [Parameter]
    public int Id { get; set; }

    private Patient model;

    protected override void OnInitialized()
    {
        model = dbContext.Patients.Find(Id);
    }

    private async Task DeletePatient()
    {
        model.EditDate = DateTime.Now;
        model.Deleted = true;
        dbContext.Patients.Update(model);
        await dbContext.SaveChangesAsync();
        navigationManager.NavigateTo("/patients");
    }
}