@page "/patients/delete/{id:int}"
@inject PatientRepository repository
@inject NavigationManager navigationManager

<PageTitle>Rimuovi Paziente</PageTitle>
<h1>Rimuovi Paziente</h1>
<hr class="my-4">

<p>Vuoi rimuovere questo paziente?</p>

<button class="btn btn-danger" @onclick="@SaveAsync">Rimuovi</button>
<a class="btn btn-secondary" href="/patients">Cancella</a>

@code {
    [Parameter]
    public int Id { get; set; }

    private Patient model;

    protected override async Task OnParametersSetAsync()
    {
        model = await repository.GetByIdAsync(Id);
    }

    private async Task SaveAsync()
    {
        await repository.DeleteAsync(model);
        navigationManager.NavigateTo("/patients");
    }
}