@page "/therapies/delete/{id:int}"
@using DottoressaIorio.App.Models
@using DottoressaIorio.App.Data 
@inject ApplicationDbContext dbContext
@inject NavigationManager navigationManager
 
<PageTitle>Rimuovi Terapia</PageTitle>
<h1>Rimuovi Terapia</h1>

<p>Vuoi rimuovere questa terapia?</p>

<button class="btn btn-danger" @onclick="DeleteTherapy">Rimuovi</button>
<a class="btn btn-secondary" href="/patient/@model.PatientId/therapies">Cancella</a>

@code {
    [Parameter]
    public int Id { get; set; }

    private Therapy model;

    protected override void OnInitialized()
    {
        model = dbContext.Therapies.FirstOrDefault(t => t.TherapyId == Id);
    }

    private async Task DeleteTherapy()
    {
        model.EditDate = DateTime.Now;
        model.Deleted = true;
        dbContext.Therapies.Update(model);
        await dbContext.SaveChangesAsync();
        navigationManager.NavigateTo($"/patient/{model.PatientId}/therapies");
    }
}
