@page "/therapies/delete/{id:int}"

@inject PatientTherapyRepository repository
@inject NavigationManager navigationManager

<PageTitle>Rimuovi Terapia</PageTitle>
<h1>Rimuovi Terapia</h1>
<hr class="my-4">

<p>Vuoi rimuovere questa terapia?</p>

<button class="btn btn-danger" @onclick="@SaveAsync">Rimuovi</button>
<a class="btn btn-secondary" href="/patient/@model.PatientId/therapies">Cancella</a>

@code {
    [Parameter] public int Id { get; set; }

    private Therapy model;

    protected override async Task OnParametersSetAsync()
    {
        model = await repository.GetByIdAsync(Id);
    }

    private async Task SaveAsync()
    {
        await repository.DeleteAsync(model);
        navigationManager.NavigateTo($"/patient/{model.PatientId}/therapies");
    }

}