@page "/therapies/edit/{id:int}"

@inject PatientTherapyRepository repository
@inject NavigationManager navigationManager

<PageTitle>Modifica Terapia</PageTitle>
<h1>Modifica Terapia</h1>
<hr class="my-4">

<a href="/patient/@model.PatientId/therapies">Torna indietro</a>
<hr class="my-4">
<EditForm Model="@model" OnValidSubmit="@SaveAsync" class="needs-validation" novalidate>
    <DataAnnotationsValidator />
    <div class="row g-3">
        <div class="col-12">
            <label for="Description">Descrizione:</label>
            <InputTextArea id="Description" @bind-Value="model.Description" class="form-control" />
            <ValidationMessage For="@(() => model.Description)" />
        </div>
    </div>
    <hr class="my-4">
    <button type="submit" class="w-100 btn btn-primary btn-lg">Salva</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    private Therapy model;

    protected override async Task OnParametersSetAsync()
    {
        model = await repository.GetByIdAsync(Id);
    }

    private async Task SaveAsync()
    {
        await repository.UpdateAsync(model);
        navigationManager.NavigateTo($"/patient/{model.PatientId}/therapies");
    }
}