@page "/therapies/edit/{id:int}"
@using DottoressaIorio.App.Models
@using DottoressaIorio.App.Data
@inject ApplicationDbContext dbContext
@inject NavigationManager navigationManager

<PageTitle>Modifica Terapia</PageTitle>
<h1>Modifica Terapia</h1>

<a href="/patient/@model.PatientId/therapies">Torna indietro</a>
<hr class="my-4">
<EditForm Model="@model" OnValidSubmit="@UpdateTherapy" class="needs-validation" novalidate>
    <DataAnnotationsValidator />
    <div class="row g-3">
        <div class="col-12">
            <label for="Description">Descrizione:</label>
            <InputTextArea id="Description" @bind-Value="model.Description" class="form-control" />
            <ValidationMessage For="@(() => model.Description)" />
        </div>
    </div>
    <hr class="my-4">
    <button type="submit" class="w-100 btn btn-primary btn-lg">Salva</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    private Therapy model;

    protected override void OnInitialized()
    {
        model = dbContext.Therapies.First(t => t.TherapyId == Id);
    }

    private async Task UpdateTherapy()
    {
        model.EditDate = DateTime.Now;
        dbContext.Therapies.Update(model);
        await dbContext.SaveChangesAsync();
        navigationManager.NavigateTo($"/patient/{model.PatientId}/therapies");
    }
}